<h1>Listing user_mind_marks</h1>

<table>
  <thead>
    <tr>
      <th>Mark</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @user_mind_marks.each do |user_mind_mark| %>
      <tr>
        <td><%= user_mind_mark.mark %></td>
        <td><%= link_to 'Show', user_mind_mark %></td>
        <td><%= link_to 'Edit', edit_user_mind_mark_path(user_mind_mark) %></td>
        <td><%= link_to 'Destroy', user_mind_mark, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User mind mark', new_user_mind_mark_path %>
