<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @mind.question %>
</p>

<p>
  <strong>Text:</strong>
  <%= @mind.text %>
</p>

<p>
  <strong>User:</strong>
  <%= @mind.user %>
</p>

<%= link_to 'Edit', edit_mind_path(@mind) %> |
<%= link_to 'Back', minds_path %>
