<%= form_for(@user_comment_mark) do |f| %>
  <% if @user_comment_mark.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_comment_mark.errors.count, "error") %> prohibited this user_comment_mark from being saved:</h2>

      <ul>
      <% @user_comment_mark.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :mark %><br>
    <%= f.number_field :mark %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
