<!DOCTYPE html>
<html>
<head>
  <title>Midapt</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <div class="session_info">
      <% if current_user %>
        <%= current_user.email %> | <%= link_to "Sign out", destroy_user_session_path %>
      <% else %>
          <%= link_to "Sign in", new_user_session_path %> | <%= link_to "Registraton", new_user_registration_path %>
      <% end %>
    </div>

<%= yield %>

</body>
</html>
